{% extends 'client/client_layout_cork.html.twig' %}

{% block title %}Gestion des produits{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('cork_admin/src/plugins/src/table/datatable/datatables.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('cork_admin/src/plugins/css/light/table/datatable/dt-global_style.css')}}">
	{{ encore_entry_link_tags('product_index') }}
{% endblock %}

{% block body %}
<div id="app">
</div>
<div id="app_modal_wrapper">
</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
	window.api_list_product = "{{ path('api_list_product') }}";
	window.api_create_product = "{{ path('api_create_product') }}";
	window.api_remove_product = "{{ path('api_remove_product') }}";
	window.api_edit_product = "{{ path('api_edit_product') }}";
	window.api_get_product = "{{ path('api_get_product') }}";
	window.api_remove_multiple_product = "{{ path('api_remove_multiple_product') }}";
	window.api_edit_multiple_product = "{{ path('api_edit_multiple_product') }}";
	</script>
{{ encore_entry_script_tags('product_index') }}
{% endblock %}