{% extends 'client/client_layout_cork.html.twig' %}

{% block title %}Gestion des clients{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('cork_admin/src/plugins/src/table/datatable/datatables.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('cork_admin/src/plugins/css/light/table/datatable/dt-global_style.css')}}">
{% endblock %}

{% block body %}
{{ encore_entry_link_tags('client_index') }}
<div id="app">
</div>
<div id="app_modal_wrapper">
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	window.api_list_client = "{{ path('api_list_client') }}";
	window.api_create_client = "{{ path('api_create_client') }}";
	window.api_remove_client = "{{ path('api_remove_client') }}";
	window.api_edit_client = "{{ path('api_edit_client') }}";
	window.api_get_client = "{{ path('api_get_client') }}";
	window.api_remove_multiple_client = "{{ path('api_remove_multiple_client') }}";
	window.api_edit_multiple_client = "{{ path('api_edit_multiple_client') }}";
	</script>
{{ encore_entry_script_tags('client_index') }}
{% endblock %}