<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <title>{% block title %}A modifier{% endblock %}</title>
        {{ encore_entry_link_tags('client_layout') }}

        <link rel="icon" type="image/x-icon" href="{{asset('cork/layouts/src/assets/img/favicon.ico')}}"/>
        <link href="{{asset('cork/layouts/collapsible-menu/css/light/loader.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('cork/layouts/collapsible-menu/css/dark/loader.css')}}" rel="stylesheet" type="text/css" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
        <link href="{{asset('cork/layouts/src/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('cork/layouts/collapsible-menu/css/dark/plugins.css')}}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('client_layout') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
