{% extends 'client/client_layout_cork.html.twig' %}

{% block title %}Gestion des commandes{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('cork_admin/src/plugins/src/table/datatable/datatables.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('cork_admin/src/plugins/css/light/table/datatable/dt-global_style.css')}}">
	{{ encore_entry_link_tags('order_index') }}
{% endblock %}

{% block body %}
<div id="app">
</div>
<div id="app_modal_wrapper">
</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
	window.api_list_order = "{{ path('api_list_order') }}";
	window.api_create_order = "{{ path('api_create_order') }}";
	window.api_remove_order = "{{ path('api_remove_order') }}";
	window.api_edit_order = "{{ path('api_edit_order') }}";
	window.api_get_order = "{{ path('api_get_order') }}";
	window.api_remove_multiple_order = "{{ path('api_remove_multiple_order') }}";
	window.api_edit_multiple_order = "{{ path('api_edit_multiple_order') }}";
	window.api_switch_field_value_order = "{{ path('api_switch_field_value_order') }}";
	window.client_options = {{ client_options|json_encode|raw  }}
	window.product_options = {{ product_options|json_encode|raw  }}
	</script>
{{ encore_entry_script_tags('order_index') }}
{% endblock %}